* {
     margin: 0px;
     font-family: 'Barlow';
     padding: 0px;
     box-sizing: border-box;
     color: white;
}

body {
     height: 100vh;
     width: 100vw;
}

/* .document{
     background-color: black;
} */
#home-page {
     overflow: hidden;
     background-attachment: fixed;
     /* border: 1px solid black; */
     background-color: black;
     height: 93vh;
     /* box-shadow: 3px 6px 27px black; */
}

nav {
     z-index: 1000;
     position: fixed;
     top: 0;
     width: 100vw;
     display: flex;
     background-color: rgb(0, 0, 0);
     /* opacity: 1; */

     justify-content: space-between;
     /* border: 1px solid red; */
     /* margin-top: 35px; */
     padding: 20px 0px 20px 0px;
}

ul {
     list-style: none;
     justify-content: space-between;
     /* border: 1px solid red; */
     display: flex;
     margin: 5px 0px 0px -20px;
     /* padding: 10px; */

}

ul li a {
     text-decoration: none;
     margin-right: 80px;
     font-size: 15px;
     font-weight: 500;
     color: white;
     padding-bottom: 20px;
}

ul li a:hover {
     color: #66fcf1;
     border-bottom: 3px solid white;
}

ul li a:active {
     border-bottom: 3px solid white;
     color: #66fcf1;

}

.logo {
     margin-left: 70px;
     font-size: 25px;
     font-weight: 700;
     /* padding: 10px; */
     /* border: 1px solid red; */
}

#logo-name:hover {
     box-shadow: 1px 1px 177px -7px #66fcf1;

}

.sirname {
     color: #66fcf1;
}

.intro-text {
     margin: 10rem 0rem 0rem 8rem;
     letter-spacing: 1px;
     word-spacing: 1px;
     font-size: 3rem;
     font-weight: 600;
}

.change-color {
     color: #66fcf1;
}

#pfp-image {

     height: 35rem;
}

.profile {
     display: flex;
     /* border: 2px solid red; */
}

/* home page end */


/* about page start */

#about-page {
     background-color: #66fcf1;
     border: 1px solid #66fcf1;
     display: flex;
     justify-content: center;
     /* overflow: hidden; */

}

.upper-black {
     background-color: black;
     width: 90vw;
     border-radius: 9px;
     box-shadow: 3px 6px 27px black;
     margin: 100px 0px 70px 0px;
     height: 84vh;
     /* margin: 30px; */

}

.about-title {
     text-align: center;
     margin-top: 25px;
     color: #66fcf1;
     font-size: 35px;
     font-weight: 700;
}

.about-me-main {
     display: flex;
     /* flex-wrap: wrap; */
}

.about-info {
     /* border: 1px solid red; */
     margin-top: 55px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     /* flex-wrap: wrap; */
     height: 60vh;
     width: 90vw;
     border-right: 1px solid #66fcf1;
     padding: 3rem;
}

.personal-details {

     font-size: x-large;
}

.about-me-text {
text-align: justify;
     font-size: larger;
}

.bold {
     font-weight: 700;
}

.thin {

     font-weight: 100;
}

.skills {
     width: 90vw;
     height: 70vh;
     /* border:1px solid red; */
     margin: 0px 25px 0px 35px;
}

.skills-title {
     margin: 10px 0px 20px 30px;
     font-size: xx-large;
}

.progress {
     margin-bottom: 20px;
}

.progress-bar{
     height: 10px;
}
.progress{
     height: 10px;
}


#services-page {
     background-color: #66fcf1;
     border: 1px solid #66fcf1;
     display: flex;
     justify-content: center;
     overflow: hidden;

}

.upper-black2 {
     background-color: black;
     width: 90vw;
     border-radius: 9px;
     box-shadow: 3px 6px 27px black;
     margin: 100px 0px 70px 0px;
     height: 84vh;
     /* margin: 30px; */

}

.services-title {
     text-align: center;
     margin-top: 25px;
     color: #66fcf1;
     font-size: 35px;
     font-weight: 700;
}

.services-main {
     display: flex;
     justify-content: space-around;
     width: 89vw;
     height: 400px;
     margin-top: 40px;
}

.different-services {
     height: 400px;
     width: 25vw;
     background: white;
     border-radius: 10px;
     filter: drop-shadow(15px 15px 0px rgba(102, 252, 241, 0.76));
     display: flex;
     flex-direction: column;
     align-items: center;
}

.logo-des {
     color: black;

}

.logo-outer {
     width: 7vw;
     height: 7vw;
     background: rgba(102, 252, 241, 1);
     border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.logo-outer img {
     width: 3vw;
     height: 3vw;
}

.logo-title {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 40px;
}

.logo-title-main {
     color: black;
     font-weight: 700;
     font-size: 20px;
     line-height: 24px;
     margin-top: 20px;
}

.logo-des {
     margin: 35px 15px 0px 15px;
     text-align: justify;
     font-size: large;
}

#blog-page {
     background-color: #66fcf1;
     border: 1px solid #66fcf1;
     display: flex;
     justify-content: center;
     overflow: hidden;

}

.upper-black3 {
     background-color: black;
     width: 90vw;
     border-radius: 9px;
     box-shadow: 3px 6px 27px black;
     margin: 100px 0px 70px 0px;
     height: 84vh;
     display: flex;
     flex-direction: column;
   
     /* margin: 30px; */

}

.blog-title {
     text-align: center;
     margin-top: 25px;
     color: #66fcf1;
     font-size: 35px;
     font-weight: 700;
}

.blog-main {
     display: flex;
     justify-content: space-around;
     width: 89vw;
     height: 60vh;
     margin-top: 40px;
}

.blog-main a {
     text-decoration: none;
}

.different-blog {
     height: 35vh;
     width: 25vw;
     background-color: white;
     color: white;
     /* border-radius: 10px; */
     /* filter: drop-shadow(15px 15px 0px rgba(102, 252, 241, 0.76)); */
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     border: 4px solid black;
     border-radius: 5px;
}

.different-blog:hover {
     border: 4px solid #66fcf1;
}

.blog-img {
     height: 30vh;
     width: 24.vw;
}

.min-read img {
     height: 3vh;
     width: 1.5vw;
     /* filter: invert(1); */

}

.min-read {
     color: black;
     margin: 0px 0px 3px 5px;
}

.blog-des {
     margin: 30px 100px 30px 100px;
     text-align: center;

}

.blog-des a {
     text-decoration: none;
     color: #66fcf1;
}

.blog-site-link:hover {
     color: #3f9c96;

}

/* .underline{
     border: 4px solid #66fcf1;
     width: 40px;
     /* text-align: center; 
} */
.underline {
     text-align: center;

}

hr {
     border: 2px solid #66fcf1;
}

.blog-inner-title {
     color: black;
     font-weight: 900;
     margin: 5px 0px 0px 5px;
     font-size: large;
}





#footer-page {
     background-color: #66fcf1;
     border: 1px solid #66fcf1;
     display: flex;
     height: 20vh;
     justify-content: center;
     overflow: hidden;
     /* border: 2px solid red; */

}

.footer-text {
     text-align: center;
     /* margin-top: 5vh; */
}

.footer-text p {
     color: black;
     font-weight: 600;

}

#contact-page {
     background-color: #66fcf1;
     border: 1px solid #66fcf1;
     display: flex;
     justify-content: center;
     overflow: hidden;

}

.upper-black4 {
     background-color: black;
     width: 90vw;
     border-radius: 9px;
     box-shadow: 3px 6px 27px black;
     margin: 100px 0px 70px 0px;
     height: 84vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* margin: 30px; */

}

.contact-title {
     text-align: center;
     margin-top: 25px;
     color: #66fcf1;
     font-size: 35px;
     font-weight: 700;
}

.contact-main {
     display: flex;
     justify-content: space-around;
     width: 89vw;
     height: 400px;
     margin-top: 40px;
}

.contact-img {
     height: 35vh;
     width: 80vw;
     text-align: center;
     margin-top: 70px;
     /* display: flex;
     flex-direction: column; */
     /* justify-content: center; */
     /* border: 4px solid black; */
     /* border-radius: 5px; */
}

.contact-img img {

     height: 15vh;
     width: 8vw;
     margin: 30px;
     border: 1px solid #000000;
     padding: 10px;

}

.contact-img img:hover {

     border: 1px solid #66fcf1;
}

@media only screen and (max-width: 500px) {  
    ul{

         flex-direction: column;
         /* flex-wrap: wrap; */
         /* border: 2px solid red; */
         text-align: center;
         justify-content: space-around;
         border-top: 1px solid #66fcf1;
         border-bottom: 1px solid #66fcf1;
         margin: 5px 0px 5px 0px;
    }
    ul li a{
     padding-bottom: 1px;
    }
    ul li a:hover {
     color: #66fcf1;
     border-bottom: 2px solid white;
}

ul li a:active {
     border-bottom: 2px solid white;
     color: #66fcf1;

}
     .about-me-main{
          flex-direction: column;
     }
     .services-main{
          flex-direction: column;
     }
     .blog-main{
          flex-direction: column;
     }
     .intro-text{
          text-align: center;
          margin: 24rem 1rem 0rem 1rem;
          font-size: 2rem;
     }
     .progress-bar{
          height: 7px;
     }
     .progress{
          height: 7px;
     }
     .personal-details {

          font-size: large;
     }
     .about-me-text {
         
               font-size: medium;
          }
 }  
 @media only screen and (max-width: 950px){
     nav{
          flex-direction: column;
     } 
     ul{
          margin-top: 1rem;
     }
     .profile{
          margin-top: 2rem;
     }
     .logo{
          text-align: center;
          margin-left: 0px;
          margin-bottom: 50px;
     }
     .about-me-main{
          flex-direction: column;
          justify-content: space-between;
     }
     .upper-black {
          height: 142vh;
     }
     .skills{
          width: 80vw;
     }
 }
 @media only screen and (max-width: 650px){
     
     .intro-text{
          text-align: center;
          margin: 13rem 1rem 0rem 1rem;
          font-size: 2rem;
     }
     ul li a{
          margin-right: 50px;
     }
 }
 @media only screen and (max-width: 872px){
     #pfp-image{
          height: 30rem;
     }

 }
 @media only screen and (max-width: 850px){
     #pfp-image{
          height: 25rem;
          margin-top: 3rem;
     }
     
 }
 
 @media only screen and (max-width: 2000px){
     .profile{
          justify-content: space-between;
     }
     #pfp-image{
          margin-right: 50px;
     }
 }

 @media only screen and (max-width: 1172px){
     .profile{
          margin-top: 5rem;
     }
 }
 @media only screen and (max-width: 800px){
     .profile{
          flex-direction: column;
     }
     .contact-img img{
          height: 12vh;
     }
 }
 @media only screen and (max-width: 343px){
     #pfp-image{
          height: 22rem;
     }
 }
 @media only screen and (max-width: 380px ){
     .about-info{
          margin-bottom: 50px;
     }
 }
 @media only screen and (max-width: 300px ){
     .about-info{
          margin-bottom: 80px;
     }
 }

 @media only screen and (max-width: 440px){
     #home-page{
          height: 110vh;
     }
     .upper-black {
          height: 150vh;
     }
     .about-info{
          margin-bottom: 30px;
     }
     .personal-details{
          margin-bottom: 8px;
     }
}
@media only screen and (max-width: 265px){
     #pfp-image{
          display: none;
     }
     #home-page{
          height: 100vh;
     }
 }
 @media only screen and (max-width: 1000px){
     .intro-text{
          font-size: 2.7rem;
     }
     .different-blog{
          height: 32vh;
     }
 }
 @media only screen and (max-width: 1045px){
     .logo-title-main {
         
          font-size: 18px;
          line-height: 22px;
          margin-top: 18px;
     }
     .logo-des {
          margin: 30px 12px 0px 12px;
          text-align: justify;
          font-size: medium;
     }
     .different-services{
          height: 360px;
     }
 }
 @media only screen and (max-width: 634px){
     .logo-title-main {
         
          font-size: 16px;
          line-height: 20px;
          margin-top: 16px;
     }
     .logo-des {
          margin: 27px 12px 0px 12px;
          text-align: justify;
          font-size: mall;
     }
     /* .different-services{
          height: 360px;
     } */
 }

@media only screen and (max-width: 634px){
     .services-main{
          flex-direction: column;
          justify-content: space-between;
          
     }
     .upper-black2{
          height: 150vh;
     }
     .different-services {
          height: 800px;
          padding-bottom: 5vh;
          width: 75vw;
         margin: 5vh 0vh 0vh 5vh;
         
     }
     .contact-img img{
          height: 8vh;
          width: 15vw;
     }
}
@media only screen and (max-width: 430px){
     .contact-img img{
          height: 8vh;
          width: 19vw;
     }
}
@media only screen and (max-width: 350px){
     .contact-img img{
          height: 8vh;
          width: 24vw;
     }
}
@media only screen and (max-width: 550px){
     .contact-img img{
          height: 6vh;
          width: 13vw;
     }
}
@media only screen and (max-width: 450px){
     
     .upper-black2{
          height: 145vh;
     }
     .different-services {
          
         margin: 5vh 0vh 0vh 3.5vh;
         
     }
     
}
@media only screen and (max-width: 350px){
     
     
     .different-services {
          
         margin: 5vh 0vh 0vh 2vh;
         
     }
     
}
@media only screen and (max-width: 300px){
     
     .upper-black2{
          height: 160vh;
     }
     
}
@media only screen and (max-width: 200px){
     
     .upper-black2{
          height: 175vh;
     }
     
}
@media only screen and (max-width: 800px){
     .different-blog{
          height: 28vh;
          width: 27vw;
     }
     
}
@media only screen and (max-width: 700px){
     .blog-main{
          justify-content: center;
          align-items: center;
          flex-direction: column;
          /* margin-top: -4vh; */
          height: 140vh;
      
     }
     .different-blog{
          margin-bottom: 5vh;
          height: 40vh;
          width: 60vw;
     }
     .upper-black3{

          
          height: 1300px;
        
     }
   
     .contact-img img{
          height: 10vh;
     }
     .min-read img {
          height: 3vh;
          width: 4vw;
          /* filter: invert(1); */
     
     }
}
@media only screen and (max-width: 700px){
     
     .upper-black3{

          
          height: 1550px;
        
     }
   
     .contact-img img{
          height: 10vh;
     }
     .min-read img {
          height: 3vh;
          width: 6vw;
          /* filter: invert(1); */
     
     }
}
